<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <title>Admin</title>
</head>

<body>

    <div class="row gap-3">
        <nav class="navbar  navbar-light bg-dark gap-3">
            <div class="align-left ">
                <a class="btn btn-primary " role="button" id="logoutBtn">logout</a>
                <a href="/store" class="btn btn-primary" role="button">Store</a>
                <button type="button" class="btn btn-primary mx-auto " data-bs-toggle="modal" data-bs-target="#carAdd">
                    Add new car
                </button>
                <button type="button" class="btn btn-primary mx-auto " data-bs-toggle="modal" data-bs-target="#reports">
                    Reports
                </button>
            </div>

            <div class="col-md-3">
                <div class="input-group ">
                    <input type="text" class="form-control" id="searchInput" placeholder="Search.." name="search">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="align center">
            <h1>Customer info</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% customers.forEach(customer=> { %>
                        <tr>
                            <td>
                                <%= customer.firstName%>
                            </td>
                            <td>
                                <%= customer.lastName %>
                            </td>
                            <td>
                                <%= customer.customerId %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="align center">
            <h1>Car info</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Plate id</th>
                        <th>Year</th>
                        <th>Status</th>
                        <th>Make</th>
                        <th>Price/Day</th>
                        <th>Top Speed (KM/Hr)</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    <% cars.forEach(car=> { %>
                        <tr data-bs-toggle="modal" data-bs-target="#CarDeleteUpdate">
                            <td>
                                <p class="plateId">
                                    <%= car.plateId %>
                                </p>
                            </td>
                            <td>
                                <%= car.year %>
                            </td>
                            <td>
                                <%= car.status %>
                            </td>
                            <td>
                                <%= car.make %>
                            </td>
                            <td>
                                <%= car.pricePerDay %>
                            </td>
                            <td>
                                <%= car.topSpeed_KMperH %>
                            </td>
                            <td>
                                <%= car.color %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="align center">
            <h1>Reservations</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Reservation ID</th>
                        <th>Start </th>
                        <th>End </th>
                        <th>Price</th>
                        <th>Customer ID</th>
                        <th>Car plate</th>

                    </tr>
                </thead>
                <tbody>
                    <% reservations.forEach(reservation=> { %>
                        <tr data-bs-toggle="modal" data-bs-target="#ReservationDeleteForm">
                            <td>
                                <p class="reservationId">
                                    <%= reservation.reservationId %>
                                </p>
                            </td>
                            <td>
                                <%= reservation.startDate %>
                            </td>
                            <td>
                                <%= reservation.endDate %>
                            </td>
                            <td>
                                <%= reservation.totalPrice %>
                            </td>
                            <td>
                                <%= reservation.customerId %>
                            </td>
                            <td>
                                <%= reservation.plateId %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Click on Modal Button -->



    <!-- Modal -->
    <div class="modal fade" id="carAdd" tabindex="-1" aria-labelledby="carAddLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carAddLabel">New car information</h5>
                    <button type="button" class="btn-close" id="btnCloseCreateCar" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="addCar">
                        <div class="mb-3">
                            <label class="form-label">Plate ID</label>
                            <input type="text" class="form-control" name="plateId" placeholder="e.g: 5000" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Office location</label> <!-- country of orignin in DB-->
                            <input type="text" class="form-control" name="countryOfOrigin" placeholder="e.g: Egypt" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">year</label>
                            <input type="text" class="form-control" name="year" placeholder="e.g: 1999" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <!--Availabe by default -->
                            <input type="text" class="form-control" name="status" placeholder="default: Available" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Make</label>
                            <input type="text" class="form-control" name="make" placeholder="e.g: Nissan" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Model</label>
                            <input type="text" class="form-control" name="model" placeholder="e.g: Sunny" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price/day</label>
                            <input type="text" class="form-control" name="pricePerDay" placeholder="e.g: 150 LE/day" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Top speed(km/hr)</label>
                            <input type="text" class="form-control" name="topSpeed_KMperH"
                                placeholder="e.g: 250 km/hr" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Color</label>
                            <input type="text" class="form-control" name="color" placeholder="e.g: Black" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image(URL)</label>
                            <input type="text" class="form-control" name="image" placeholder="e.g: shorturl.at/tBEFN" />
                        </div>
                        <div class="modal-footer d-block">
                            <button type="button" class="btn btn-success float-end" onclick="ay()">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--This form will appear when pressing on a table row-->
    <div class="modal fade" id="CarDeleteUpdate" tabindex="-1" aria-labelledby="CarDel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CarDel">Delete the car?</h5>
                    <button type="button" class="btn-close" id="btnCloseDeleteCar" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- <div class="modal-footer d-block"> -->
                        <button type="button" onclick="deleteCar()" class="btn btn-danger float-end">Delete</button>
                        <!-- </div> -->
                    </form>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title" id="CarDel">Update Car status</h5>
                </div>
                <div class="modal-body">
                    <form name="what">
                        <div class="mb-3">
                            <label class="form-label">Car status</label>
                            <input type="text" class="form-control" id="car_update" name="car_update"
                                placeholder="e.g: Available" />
                        </div>
                        <!-- <div class="modal-footer d-block"> -->
                        <button type="button" onclick="updateStatus()" class="btn btn-warning float-end">Update</button>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Reservation delete pop-up-->
    <div class="modal fade" id="ReservationDeleteForm" tabindex="-1" aria-labelledby="DeleteRes" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteRes">Delete the reservation?</h5>
                    <button type="button" class="btn-close" id="btnCloseDeleteReservation" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- <div class="modal-footer d-block"> -->
                        <button type="button" onclick="deleteReservation()"
                            class="btn btn-danger float-end">Delete</button>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reports" tabindex="-1" aria-labelledby="carRes" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carRes">Reserve this car</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeRes"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="resForm">
                        <div class="mb-3">
                            <label class="form-label">Pick-up date</label>
                            <input type="date" class="form-control" id="resStart" name="resStart">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Return date</label>
                            <input type="date" class="form-control" id="resRet" name="resRet">
                        </div>
                        <div class="modal-footer d-block">
                            <button type="button" class="btn btn-success float-end" onclick="reserve()">Report</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/adminPortal.js" type="text/javascript"></script>
    <script src="scripts/navbar.js"></script>

    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</html>